body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f4f6;
}

#ctr1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 10px;
  padding: 30px;
  background-color: #1e90ff;
  color: #ffffff;
}

#ctr2 {
  position: absolute;
  top: 0;
  right: 0;
  padding: 30px;
  background-color: #ffffff;
  color: #333;
  border-top-right-radius: 10px;
}

#about {
  margin-top: 150px;
  padding: 20px;
  background-color: #ffffff;
  color: #333;
  border-radius: 10px;
}

#dest {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  align-items: center;
}

#map {
  flex: 1;
  margin-right: 20px;
}

h1 {
  margin: 0;
  font-size: 1.8em;
}

#timer {
  font-size: 1.2em;
  display: flex;
}

.timer-container {
  display: flex;
  align-items: center;
  background-color: #ff6347;
  color: #ffffff;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.timer-label {
  margin-right: 5px;
}

.timer-digit {
  font-weight: bold;
}

#about p {
  margin: 20px 0;
  line-height: 1.5;
}

#about p:hover {
  color: #1e90ff;
  cursor: pointer;
}

.traveler {
  width: 200px;
  padding: 20px;
  margin: 20px;
  background-color: #f9a825;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
  transition: transform 0.3s, box-shadow 0.3s;
}

.traveler h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.traveler p {
  margin: 0;
  line-height: 1.5;
}

.traveler:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.traveler img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

#weather {
  margin-top: 50px;
  padding: 20px;
  background-color: #f9a825;
  border-radius: 10px;
  text-align: center;
}

#weather h2 {
  margin-top: 0;
  font-size: 1.5em;
}

#weather p {
  margin: 0;
}

#weather img {
  width: 100px;
  position: left;
  height: auto;
}

#redirectButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#redirectButton:hover {
  background-color: #45a049;
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(1.2);
  }

  100% {
      transform: scale(1);
  }
}

#redirectButton.pulse {
  animation: pulse 2s infinite;
}
        .blur {
          filter: blur(100px); 
          pointer-events: none;
      }
      #tripDoneModal {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.5);
          z-index: 9999;
      }

      #modalContent {
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          text-align: center;
      }

      #modalButtons {
          margin-top: 20px;
      }

      .modalButton {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          background-color: #1e90ff;
          color: white;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s;
      }

      .modalButton:hover {
          background-color: #0d69bf;
      }
      .gallery-container {
        text-align: center;
        margin-top: 20px;
        position: relative;
    }
    
    .view-more-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #1e90ff;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
        transition: background-color 0.3s;
    }
    
    .view-more-btn:hover {
        background-color: #007bff;
    }
